<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="jp.genuine.training.scheduler.datasource.sampledb.performance.PerformanceDetailMapper">

	<resultMap type="jp.genuine.training.scheduler.model.performance.Performance" id="performanceDetail">
		<id column="id" property="performanceId.value"/>
		<result column="name" property="performanceName.value"/>
		<result column="site_url" property="performanceUrl.value"/>
		<result column="place" property="venue.venueName.value"/>
		<result column="place_url" property="venue.venueUrl.value"/>
		<result column="start_date" property="performanceDate.performanceDateRange.start"/>
		<result column="end_date" property="performanceDate.performanceDateRange.end"/>
		<result column="memo" property="memo.value"/>
		<collection property="performanceDate.suspendDateList.list" ofType="java.time.LocalDate">
			<result column="suspend_date"/>
		</collection>
	</resultMap>

	<select id="findBy" resultMap="performanceDetail" flushCache="true">
		SELECT
			information.id,
			information.name,
			information.site_url,
			information.place,
			information.place_url,
			information.start_date,
			information.end_date,
			suspend.suspend_date,
			information.memo
		FROM
			performance.information
		LEFT OUTER JOIN
			performance.suspend
		ON
			information.id = suspend.performance_id
		WHERE
			information.user_id = #{user.userId.value}
		AND
			information.id = #{performanceId.value}
		ORDER BY
			suspend.suspend_date,suspend.id;
	</select>

	<resultMap type="jp.genuine.training.scheduler.model.performance.PerformanceId" id="performanceNextId">
		<id column="nextval" property="value"/>
	</resultMap>

	<select id="nextId" resultMap="performanceNextId" flushCache="true">
		SELECT
			nextval('performance.performance_id');
	</select>

	<insert id="register" flushCache="true">
		INSERT INTO
			performance.information (id,user_id,name,site_url,place,place_url,start_date,end_date,memo)
		VALUES
			(#{performance.performanceId.value},
			#{performance.userId.value},
			#{performance.performanceName.value},
			#{performance.performanceUrl.value},
			#{performance.venue.venueName.value},
			#{performance.venue.venueUrl.value},
			#{performance.performanceDate.performanceDateRange.start},
			#{performance.performanceDate.performanceDateRange.end},
			#{performance.memo.value});
	</insert>


</mapper>