<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="jp.genuine.training.scheduler.datasource.sampledb.schedule.ScheduleDetailMapper">

	<resultMap type="jp.genuine.training.scheduler.model.schedule.Schedule" id="scheduleDetail">
		<id column="id" property="scheduleId.value"/>
		<result column="performance_id" property="performanceId.value"/>
		<result column="fix" property="scheduledDate.value"/>
		<result column="name" property="performanceName.value"/>
		<result column="fix_date" property="scheduledDate.value"/>
		<result column="start_date" property="performanceDate.performanceDateRange.start"/>
		<result column="end_date" property="performanceDate.performanceDateRange.end"/>
		<result column="open_time" property="openTime.open"/>
		<result column="start_time" property="startTime.start"/>
		<result column="memo" property="memo.value"/>
		<result column="implession" property="implession.value"/>
	</resultMap>

	<select id="findBy" resultMap="scheduleDetail" flushCache="true">
		SELECT
			si.id,
			pi.name,
			si.performance_id,
			si.fix_date,
			pi.start_date,
			pi.end_date,
			si.open_time,
			si.start_time,
			si.ticket_price,
			si.budget,
			si.memo,
			si.implession
		FROM
			schedule.information AS si
		INNER JOIN
			performance.information AS pi
		ON
			pi.id = si.performance_id
		WHERE
			si.id = #{scheduleId.value};
	</select>

	<update id="modify" flushCache="true">
		UPDATE
			schedule.information
		SET
			fix_date = #{scheduleModify.scheduledDate.value},
			open_time = CAST(#{scheduleModify.openTime.open} AS TIME),
			start_time = CAST(#{scheduleModify.startTime.start} AS TIME),
			ticket_price = #{scheduleModify.ticketPrice.integerValue},
			budget = #{scheduleModify.budget.integerValue},
			memo = #{scheduleModify.memo.value},
			implession = #{scheduleModify.implession.value}
		WHERE
			id = #{scheduleModify.scheduleId.value};
	</update>

	<delete id="delete" flushCache="true">
		DELETE FROM
			schedule.information
		WHERE
			id = #{scheduleModify.scheduleId.value};
	</delete>

</mapper>