<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:include="template :: fragment_html_head(title='トップページ')">
</head>
<body>
	<script th:inline="javascript">
        $(document).ready(function () {
        	var today = new Date();

            $('#calendar').fullCalendar({
            	header: {
    				left: 'prev,next today',
    				center: 'title',
    				right: 'nothing'
    			},
    			timeFormat: 'H時mm分',
    			defaultDate: today,
    			editable: false,
    			eventLimit: true,
    			events:  /*[[${performanceIndex}]]*/,
    			eventClick: function(calEvent, jsEvent, view) {
    			    location.href = 'schedule/detail/' + calEvent.id;
    			}
    		});
        });
	</script>

	<header th:include="template :: fragment_header(title='Scheduler')"></header>
		<div class="mdl-grid">
			<div class="mdl-cell mdl-cell--2-col"></div>
			<div class="mdl-cell mdl-cell--8-col">
				<div class="mdl-card__wide mdl-card mdl-shadow--2dp">
					<div class="mdl-card__title">
						<h2><i class="fa fa-map-o" aria-hidden="true"></i> トップメニュー</h2>
					</div>
			<!-- カレンダー -->
			<div id="calendar"class="mdl-shadow--3dp"></div>
						<form name="top">
							<div class="mdl-card__actions">
								<button type="button"class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect" onclick="location.href='performances'">公演一覧を表示する</button>
							</div>
							<div class="mdl-card__actions">
								<button type="button"class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect" onclick="location.href='performance/register'">公演概要を登録する</button>
							</div>
							<div class="mdl-card__actions">
								<button type="button"class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect" onclick="location.href='logout'">ログアウトする</button>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="mdl-cell mdl-cell--2-col"></div>

		<footer th:include="template :: fragment_footer"></footer>
</body>
</html>